.container-contacto{
    width: 100%;
}

.container-contacto h2{
    margin: 100px 0 40px 150px;
    font-family: "Segoe UI";
}

.icon{
    margin: 20px auto 70px auto;
    padding: 13px;
    font-size: 35px;
    border-radius: 50%;
    background: #777;
}

.icon:hover{
    transform: scale(1.2);
}

.info-contact{
    text-align: center;
    font-family: "Segoe UI";
}

.info-contact p{
    font-size: 20px;
}

.container-flex-contact{
    width: 50%;
    margin: auto;
    display: flex
}

.container-flex-contact div{
    width: 100%;
    text-align: center;
}

/*Version tablet*/

@media screen and (max-width: 1000px) {
    .container-contacto{
        width: 100%;
        margin: 10% auto 0 auto;
        text-align: center;
    }

    .container-contacto h2{
        margin: 0;
    }

    .container-contacto p{
        width: 90%;
        margin: 40px auto;
    }

    .container-flex-contact{
        width: 60%;
    }
}



/*Version movile*/

@media screen and (max-width: 600px) {
    .container-contacto{
        width: 100%;
        text-align: center;
    }

    .container-contacto h2{
        margin: 0;
    }

    .container-contacto p{
        width: 90%;
        margin: 40px auto;
    }

    .container-flex-contact{
        width: 90%;
    }
}