main{
    width: 100%;
}

.container-description{
    width: 70%;
    min-height: 60vh;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.img-description{
    width: 30%;
}

.info-description{
    width: 70%;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 23px;
}

.info-description p{
    font-size: 20px;
}

.info-description a{
    width: 20%;
    border-radius: 40px;
    padding: 13px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #333;
}

.img-description img{
    width: 290px;
    height: 290px;
    border-radius: 150px;
}

/*Version Tablet*/

@media screen and (max-width: 1000px){

    .container-description{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .info-description{
        width: 50%;
    }

    .info-description a{
        width: 50%;
    }

    .img-description{
        width: 50%;
    }

    .img-description img{
        margin: auto;
        display: block;
    }
}


/*Version movile*/

@media screen and (max-width:600px) {

    .container-description{
        flex-wrap: wrap-reverse;
        width: 80%;
        max-width: 80%;
        height: 90vh;
        max-height: 90vh;
    }

    .img-description{
        width: 100%;
        max-width: 100%;
    }

    .img-description img{
        margin: auto;
        display: block;
    }

    .info-description{
        width: 100%;
    }

    .info-description a{
        width: 50%;
    }
}
