main{
    width: 100%;
}

.container-description{
    width: 70%;
    min-height: 50vh;
    margin: 40px auto 130px auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.img-description{
    width: 30%;
}

.info-description{
    width: 70%;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 23px;
}

.info-description p{
    font-size: 20px;
}

.container-btn-info{
    width: 80%;
    margin: auto;
    display: flex;
}

.container-btn-info a{
    width: 50%;
    margin: 0 10px;
    border-radius: 40px;
    padding: 13px;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    transition: all .4s;
    color: #fff;
    background: #333;
}

.container-btn-info a:hover{
    transform: scale(.9);
}

.img-description img{
    width: 290px;
    height: 290px;
    border-radius: 150px;
}

/*Version Tablet*/

@media screen and (max-width: 1000px){

    .container-description{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .info-description{
        width: 50%;
    }

    .info-description a{
        width: 50%;
    }

    .img-description{
        width: 50%;
    }

    .img-description img{
        margin: auto;
        display: block;
    }
}


/*Version movile*/

@media screen and (max-width:600px) {

    .container-description{
        flex-wrap: wrap-reverse;
        width: 80%;
        max-width: 80%;
        height: 80vh;
        max-height: 80vh;
    }

    .img-description{
        width: 100%;
        max-width: 100%;
    }

    .img-description img{
        margin: auto;
        display: block;
    }

    .info-description{
        width: 100%;
    }

    .info-description a{
        width: 50%;
    }

    .container-btn-info{
        width: 100%;
        display: flex;
    }
}
